
/* page font css */
@font-face {
	font-family: notokr_bold;
	src: url('./resources/font/notokr-bold.ttf');
}

@font-face {
	font-family: notokr;
	src: url('./resources/font/notokr-regular.woff');
}

div {
	font-family: notokr;
}
/* page font css end*/

/* westcontainer collapse css */
#westcontainer_header-innerCt {
	position: absolute;
	top: 300px;
	background: url("./resources/images/button/btn_arrow_close.png") no-repeat;
}

#westcontainer_header-targetEl div {
	margin-top: 10px;
	left: -10px;
	width: 20px;
	position: absolute;
	background-color: transparent;
	z-index: 20000;
	color: transparent;
}
/* westcontainer collapse css end*/


/* westcontainer tab css */
.x-tab-bar-horizontal>.x-tab-bar-body-default {
	min-height: 44px;
	background: url("./resources/images/design/left_tab_bg.gif") 38px
		!important;
	border: 0px;
}

.x-tab.x-tab-active.x-tab-default {
	width: 160px;
	font-weight: bold;
}

.x-tab-default-top {
	margin: 0 4px 0 0;
	width: 160px;
}


.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
	color: #4c82b1;
	font-family: notokr_bold;
}

.x-tab-inner-default {
	font: 400 13px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial,
		verdana, sans-serif;
	color: #f0f0f0;
	max-width: 100%;
	font-family: notokr_bold;
}

/* westcontainer tab css end*/


/* station search result*/
.fw_path{ height: auto; cursor: pointer; /*margin-top: -20px;*/ background: url("./resources/images/img/line1.gif") repeat-x left bottom; padding: 15px 0px; }
.fw_path:after { content:""; clear: both; display: block; *zoom: 1; }
.fw_path> .thumb { width: 43px; min-height: 23px; height: auto; padding: 10px 0px; border: 1px solid #2a2e34; float: left; display: block; text-align: center; margin-left:7px; margin-right: 8px; /*margin-top: 20px;*/ }

.fw_path> .state { width: 220px; height: auto; display: block; float: left;}
.fw_path> .state> p { font: 11px; padding-bottom: 5px; /*height: 25px;*/ margin: 0px; }
.fw_path> .state> p:after { display: block; content: ''; clear: borh; }

.fw_path> .state> .p01 { border-bottom: 1px dotted #1f262c; font: 11px; padding-bottom: 5px; height: 25px; }
.fw_path> .state> .p01:AFTER { /*border-bottom: 1px dotted #1f262c;*/ font: 11px; padding-bottom: 5px; height: 25px; }



.fw_path> .state> p:hover { content:""; clear: both; display: block; *zoom: 1; }
.fw_path> .state> p> strong { color: #000; font-size: 14px; color: white; background: url("./resources/images/img/tit_icon.png") no-repeat left center; padding-left: 15px;}
.fw_path> .state> p> em { color: #4a4a4a; font-size: 11px; float: right; letter-spacing: -1px; }
.fw_path> .state> p> em> span { color: #d30000; font-weight: bold; }
.fw_path> .state> p> span { padding: 3px 0px; text-align: center; font-size: 12px; letter-spacing: -1px; display: block; width: 65px; float: left;}

.condition01 { background: #141517; color:#fff4b4;} /*異⑹쟾以?*/
.condition02 { background: #141517; color:#fff4b4;} /*?젏寃?以?*/
.condition03 { background: #141517; color:#a0e4ff;} /*??湲곗쨷*/
.condition04 { background: #ff5808; border: 1px solid #d64500; } /*?슫?쁺以묒?*/
.condition05 { background: #7d7d7d; border: 1px solid #5f5f5f; } /*?넻?떊誘몄뿰寃?*/
.none { background: url(../images/logo_none.gif) no-repeat; }

/* station search result end*/


.x-window-header-default {
	border-width: 0px !important;
	background-color: #445676;
}

.x-window-default {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 0 0 0;
	border-width: 2px;
	border-style: solid;
	border-color: #445676;
}

.x-window-header-default .x-tool-img {
	background-color: transparent;
}


/*station info*/
#sub_tits {
    position: relative;
    padding: 0 8px;
    height: 46px;
    background: #4b4c52;
    line-height: 46px;
    top: -12px;
}

#sub_tits a.like_ch {
    background: url("./resources/images/test/icon_like_off.png") no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: 11px;
}

#sub_tits h2 {
    font-size: 15px;
    color: #fff;
    padding-left: 24px;
}

.hidden {
    position: absolute;
    left: -99999999999px;
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

#sub_cont {
    padding: 0 0 6px 0;
    overflow: hidden;
}

#sub_cont .sub_info_area .corp_info {
    background: #94c318;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    float: left;
}



#sub_cont div.time_info span {
    background: #18c396;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    color: #fff;
}

#sub_cont div.time_info span em {
    background: url(./resources/images/test/icon_time.png) no-repeat;
    background-size: 14px;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}
.table_01 {
	margin-top:50px;
    border-top: 2px solid #296dca;
    border-bottom: 1px solid #296dca;
    border-left: 1px solid #cdcdcd;
}

.table_01 th {
    background: #f7f7f7;
}

.table_01 th, .table_01 td {
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
    padding: 5px 0;
    vertical-align: middle;
}

.table_01 dl dt.fast {
    background: url('./resources/images/test/ev_char_bg01.png') no-repeat center;
    background-size: 30px 18px;
}

.table_01 td:first-child {
    padding: 0 5px;
}

.table_01 span.ev_type.t01 {
    background: url('./resources/images/test/ev_type_cha.png') no-repeat center 0;
    background-size: 20px 23px;
}
.table_01 span.ev_type.t02 {
    background: url(./resources/images/test/ev_type_ac3.png) no-repeat center 0;
    background-size: 20px 23px;
}
.table_01 span.ev_type.t03 {
    background: url(./resources/images/test/ev_type_dc.png) no-repeat center 0;
    background-size: 20px 23px;
}
.table_01 span.ev_type {
    padding: 22px 5px 0 5px;
    display: inline-block;
}

span.ev_char.c01 {
    background: #1b73aa;
}

span.ev_char {
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.middle_line {
    height: 8px;
    background: #d3d7db;
    border-top: 1px solid #b4b6ba;
    display: block;
}

h3.tit3_info {
    background: url(./resources/images/test/tit3_info.png) no-repeat 0 center;
    background-size: 23px;
}

h3 {
    padding: 8px 0 8px 26px;
    font-size: 15px;
    font-family: 'notokr_bold';
}

.table_02 {
    border-top: 1px solid #f1f1f1;
}

.table_02 th, .table_02 td {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    vertical-align: middle;
    text-align: left;
    font-size: 13px;
}

h3.tit3_pic {
    background: url(./resources/images/test/tit3_pic.png) no-repeat 0 center;
    background-size: 23px;
}
/*station info end */

/*address search*/
.list_add>span> dl {
    position: relative;
    border-bottom: 1px solid #c4c4c4;
}

.list_add>span> dl> dt {
    padding-bottom: 7px;
    margin-top: -5px;
    border-bottom: 1px dotted #cbcbcb;
    font-weight: bold;
}

.list_add>span> dl> .tel {
    margin-top: 7px;
    margin-left: 0px;
}

.list_add>span> dl> .new_addr {
    margin-top: 8px;
    margin-left: 0px;
}

.list_add>span> dl> .tel> span {
    color: #7c7c7c;
    border-left: 1px solid #d1d1d1;
    padding-left: 9px;
    margin-left: 9px;
    letter-spacing: -1px;
}
.list_add>span>dl>.old_addr {
	color: #7b7b7b;
	margin-top: 4px;
	margin-left: -3px;
}

.list_add>span> dl> .old_addr> span {
    padding: 2px 2px;
    border: : 1px solid #9f9f9f;
    background: #b0b0b0;
    color: #fff;
    letter-spacing: -1px;
}
/*address search end*/


#mapSelect .mapDefault {
	width: 100px;
	height: 20px;
	border: 1px solid #d0d0d0;
	color: #333;
	background: #fff;
	letter-spacing: -1px;
	font-size: 12px;
	cursor: pointer;
}

#mapSelect .mapClick {
	width: 100px;
	height: 20px;
	border: 1px solid #126dae;
	color: #fff;
	background: #126dae;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 12px;
	border: 1px solid #126dae;
	color: #fff;
	background: #126dae;
	font-weight: bold;
	letter-spacing: -1px;
	cursor: pointer;
}

#selectArea {
	position: absolute;
	top:7px;
	left:10px;
	resize: both;
}

select::-ms-expand { 
  display: none;
}

select {
  -webkit-appearance: none;  /* ?꽕?씠?떚釉? ?쇅?삎 媛먯텛湲? */
  -moz-appearance: none;
  appearance: none;
  background: url('./resources/images/button/arrow.jpg') no-repeat 98% 50%; /* ?솕?궡?몴 紐⑥뼇?쓽 ?씠誘몄? */
  background-size: 20px 20px; 
}

.zoomPart div{
	position: absolute;
	width: 6px;
	height: 1px;
	background-color: darkgrey;
	left: 37px;
}

.zoomPartClick div{
	position: absolute;
	width: 16px;
	height: 10px;
	left: 32px;
}

.zoomText {
	margin: 20px 0px 0px -30px;
	background-size: 515px 26px;
	width: 30px;
	height: 126px;
}

.zoomText div {
	position: absolute;
	width: 29px;
	left: 0px;
	height: 15px;
	margin: -6px 0px 0px;
}